<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">

	<resultMap type="member" id="memberMap">
		<id column="memberNo" property="memberNo"/>
		<result column="memberName" property="memberName"/>
		<result column="password" property="password"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<result column="nickName" property="nickName"/>
		<result column="address" property="address"/>
		<result column="deliveryAddress" property="deliveryAddress"/>
		<result column="enrollDate" property="enrollDate"/>
		<result column="balance" property="balance"/>
		<result column="rank" property="rank"/>
	</resultMap>

	<resultMap type="product" id="productMap">
		<id column="productNo" property="productNo"/>
		<result column="productCategory" property="productCategory"/>
		<result column="productName" property="productName"/>
		<result column="nowBidPrice" property="nowBidPrice"/>
		<result column="minBidPrice" property="minBidPrice"/>
		<result column="productContent" property="productContent"/>
		<result column="productEnrollDate" property="productEnrollDate"/>
		<result column="productStatus" property="productStatus"/>
		<result column="bidUnit" property="bidUnit"/>
		<result column="startDate" property="startDate"/>
		<result column="endDate" property="endDate"/>
		<result column="finalPrice" property="finalPrice"/>
		<result column="buyNowPrice" property="buyNowPrice"/>
		<result column="extendYn" property="extendYn"/>
		<result column="permissionYn" property="permissionYn"/>
		<result column="readCount" property="readCount"/>
		<result column="bannerImageName" property="bannerImageName"/>
		<result column="rejectReason" property="rejectReason"/>
		<association property="seller" resultMap="memberMap"/>
		<association property="highestBidder" resultMap="memberMap"/>
		<collection property="images" ofType="productImage">
			<result column ="imageName" property="imageName"/>
		</collection>
	</resultMap>


<!--JOIN PRODUCTIMAGE USING (PRODUCTNO)  -->
	<select id="selectOneProductNo" resultMap="productMap" parameterType="string">
		SELECT * FROM PRODUCT
		JOIN PRODUCTIMAGE USING (PRODUCTNO)
		 WHERE  PRODUCTNO=#{productNo}
	</select>
</mapper>
